<div class="modal fade" id="editProductModal-{{ product.id }}" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">{{ product.name }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form data-request="onUpdateProduct">
				<input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>


